<div class="hero-unit">
	<h1>课程管理</h1>
</div>
<div class="container span8 course_container">
	<% @courses.each_with_index do |course,i| %>
	<%=render :partial=>course%>
<% end %>
</div>
<div class="span8">
	<%= will_paginate @course%>
</div>
