<div class="hero-unit">
	<h1>玩电脑游戏，不如做游戏</h1>
	 <p>从今天开始零起点学习编程！面向9岁以上的计算编教程。</p><p>对您的孩子来说，您的陪伴才是他们学习的动力，陪伴孩子学习可以取得更佳的效果！</p>
		<%=button_to '了解更多课程',:courses,:class=>"btn btn-primary btn-large",:method=>'get'%>
</div>

<div class="content_container">
	<%= render_cell :courses,:index_section%>
</div>
