<div id='container'>
	<div class="hero-unit">
	  <h1>首页</h1>
	  <p>Welcome to my home page</p>
	  <p>
		<%=button_to '了解更多课程',:courses,:class=>"btn btn-primary btn-large",:method=>'get'%>

	  </p>
	</div>
	</div>
	<%= render_cell :courses,:index_section%>
	</div>
</div>