<h1>Listing courses</h1>

<%= button_to 'New Course', new_course_path,:class=>"btn btn-primary",:method=>"get" %>
<br>
<div class="container span8 course_container">
	<% @courses.each_with_index do |course,i| %>
	<%=render :partial=>course%>
<% end %>
</div>
<div class="span8 offset2">
	<%= will_paginate @course%>
</div>
