<div class="hero-unit">
	<h1><%=t 'courses.show_title'%></h1>
</div>

<div class="container span8 course_container">
	<% @courses.each_with_index do |course,i| %>
	<%=render :partial=>course%>
<% end %>
</div>
<div class="span8 offset2">
	<%= will_paginate @course%>
</div>
